:root {
  --color-small-hover: rgb(38, 38, 38);
  --color-primary-action: blue;
  --color-primary-action-hover: darkblue;
  --color-tertiary: grey;

  --padding-section-gutter: 3em;
}
* {
  box-sizing: border-box;
}

body {
  margin: 2vh 8vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

p.large {
  font-size: 16pt;
}

p.small {
  font-size: 10pt;
  color: grey;
}
p.small a {
  color: grey;
  transition: color 0.15s ease-out;
}
p.small a:hover {
  color: var(--color-small-hover);
}
/* Informational clipping */
section:first-of-type {
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}

#fadeout {
  width: 100%;
  position: absolute;
  top: 35vh;
  height: 15vh;
  background: linear-gradient(rgba(255, 255, 255, 0), white 80%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#fadeout button {
  border: none;
  background: var(--color-small-hover);
  color: white;
  border-radius: 9em;
  padding: 0.7em 1em;
  font-size: 10pt;
  transition: background 0.15s ease-out;
}

#fadeout button:hover {
  background: var(--color-primary-action);
  cursor: pointer;
}

footer {
  margin: 3em 0;
}

/* Desktop */
@media only screen and (min-width: 920px) {
  body {
    flex-direction: row;
    padding: 1em;
  }
  section {
    width: 50%;
    padding: var(--padding-section-gutter);
  }
  footer {
    padding-left: var(--padding-section-gutter);
    margin: 0;
  }
  /* No informational clipping */
  section:first-of-type {
    max-height: none;
  }

  #fadeout {
    display: none;
  }
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.75em;
  border: 1px solid lightgrey;
  min-height: 18em;
  max-height: 90vh;
}

a.button {
  margin: 0.75em auto;
  padding: 1em 2em;
  width: 100%;
  border: none;
  background: var(--color-primary-action);
  color: white;
  text-decoration: none;
  transition: background 0.15s ease-out;

  display: block;
  text-align: center;
}
a.button:focus,
a.button:hover {
  background: var(--color-primary-action-hover);
}

a.button,
textarea {
  border-radius: 0.2em;
}

p,
textarea {
  line-height: 1.5;
}

.intrinsic-container {
  position: relative;
}
/* 16x9 Aspect Ratio */
.intrinsic-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.intrinsic-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
