:root {
  /* Colour */
  --color-background: rgb(236, 228, 207);
  --color-background-alpha: rgba(226, 214, 181, 0);
  --color-sink: rgba(21, 20, 17, 0.05);
  --color-action: rgba(252, 251, 248, 0.9);
  --color-action-hover: rgba(255, 255, 255, 1);
  --color-text-primary: rgba(21, 20, 17, 0.8);
  --color-text-secondary: rgba(21, 20, 17, 0.6);
  --color-text-tertiary: rgba(21, 20, 17, 0.4);
  /* Sizing */
  --padding-xsmall: 1em;
  --padding-small: 3em;
  --padding-medium: 5vmax;
  --padding-large: 7vmax;
  --padding-xlarge: 9vmax;
  --border-radius-small: 0.2em;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  margin: 0 auto;
  padding: 2vh 8vw 0;
  max-width: 800px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Type */
h1,
h2,
p,
a {
  transition: color 0.15s ease-out;
}

h1,
h2 {
  color: var(--color-text-secondary);
}

p,
a {
  color: var(--color-text-primary);
}

h1 {
  margin: 18pt 0;
  font-size: 42pt;
  font-weight: 900;
  line-height: 0.95;
}

h2 {
  margin: 0.4em 0;
  font-size: 21pt;
  font-weight: 800;
  line-height: 1.1;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 2.5pt;
  margin: 0;
  color: var(--color-text-tertiary);
}

p a {
  color: var(--color-text-secondary);
}
p a:hover {
  color: var(--color-text-tertiary);
}

p.small {
  font-size: 9pt;
  color: var(--color-text-tertiary);
}
p.small a {
  color: var(--color-text-tertiary);
}
p.small a:hover {
  color: var(--color-text-secondary);
}

/* Informational clipping */
section:first-of-type {
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}

#fadeout {
  width: 100%;
  position: absolute;
  /* top = section max-height minus fadeout height */
  top: 35vh;
  height: 15vh;
  background: linear-gradient(
    var(--color-background-alpha),
    var(--color-background) 80%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#fadeout button {
  border: none;
  background: var(--color-text-primary);
  color: white;
  border-radius: 9em;
  padding: 0.7em 1em;
  font-size: 10pt;
  font-weight: 600;
  transition: background 0.15s ease-out;
}

#fadeout button:hover {
  background: var(--color-text-secondary);
  cursor: pointer;
}

footer {
  margin: var(--padding-small) 0;
}

/* Visual padding */
section:last-of-type,
h6:not(:first-of-type) {
  margin-top: var(--padding-xlarge);
}

textarea {
  background: var(--color-sink);
  color: var(--color-text-secondary);
  min-width: 100%;
  max-width: 100%;
  padding: 2em 6vh;
  border: 0;
  border-radius: var(--border-radius-small);
  min-height: 18em;
  max-height: 90vh;
}

a.button {
  margin: 0.75em auto;
  padding: 1em 2em;
  width: 100%;
  border: none;
  /* background: var(--color-primary-action); */
  /* color: white; */
  color: var(--color-text-primary);
  background: var(--color-action);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14pt;
  font-weight: 700;
  transition: background 0.15s ease-out;
}

a.button:focus,
a.button:hover {
  background: var(--color-action-hover);
}

a.button,
textarea {
  border-radius: var(--border-radius-small);
}

p,
textarea {
  line-height: 1.5;
}

/* Video */
.intrinsic-container {
  position: relative;
  background: var(--color-text-secondary);
}
/* 16x9 Aspect Ratio */
.intrinsic-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.intrinsic-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  body {
    max-width: none;
    flex-direction: row;
    padding: 0 3vmax;
  }

  section {
    padding: var(--padding-medium) var(--padding-large);
  }

  footer {
    padding-left: var(--padding-large);
  }

  /* No informational clipping */
  #fadeout {
    display: none;
  }

  section:first-of-type {
    max-height: none;
    margin-top: 0;
    width: 40%;
  }

  section:last-of-type {
    width: 60%;
  }

  /* Visual padding */
  section:last-of-type {
    margin-top: var(--padding-xsmall);
  }

  h6:not(:first-of-type) {
    margin-top: var(--padding-medium);
  }
}
