:root {
  /* Colours */
  --color-background: #dbd0b2;
  --color-background-alpha: #dbd0b200;
  --color-sink: rgba(255, 255, 255, 0.56);
  --color-text: #35322a;
  --color-primary-action: #9c7300;
  --color-primary-action-hover: #5a4200;
  --color-tertiary: grey;
  /* Sizing */
  --padding-section-gutter: 3em;
  --border-radius-small: 0.33em;
  --border-radius-large: 1em;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  margin: 2vh 8vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
h1,
h2,
h6,
p,
a {
  color: var(--color-text);
}
h1 {
  font-size: 32pt;
  margin: 14pt 0 0;
}
h2 {
  margin: 0.4em 0;
  font-size: 21pt;
}
h6 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  color: lightgrey;
}

p.small {
  font-size: 9pt;
  color: grey;
}
p.small a {
  color: grey;
  transition: color 0.15s ease-out;
}
p.small a:hover {
  color: var(--color-small-hover);
}
/* Informational clipping */
section:first-of-type {
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}

#fadeout {
  width: 100%;
  position: absolute;
  top: 35vh;
  height: 15vh;
  background: linear-gradient(
    var(--color-background-alpha),
    var(--color-background) 80%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#fadeout button {
  border: none;
  background: var(--color-text);
  color: white;
  border-radius: 9em;
  padding: 0.7em 1em;
  font-size: 10pt;
  transition: background 0.15s ease-out;
}

#fadeout button:hover {
  background: var(--color-primary-action);
  cursor: pointer;
}

footer {
  margin: 3em 0;
}

/* Desktop */
@media only screen and (min-width: 920px) {
  body {
    flex-direction: row;
    padding: 1em;
  }
  section {
    width: 50%;
    padding: var(--padding-section-gutter);
  }
  footer {
    padding-left: var(--padding-section-gutter);
    margin: 0;
  }
  /* No informational clipping */
  section:first-of-type {
    max-height: none;
  }

  #fadeout {
    display: none;
  }
}

/* .pop {
  background: white;
} */

textarea {
  background: var(--color-sink);
  min-width: 100%;
  max-width: 100%;
  padding: 0.75em;
  /* border: 1px solid lightgrey; */
  border: 0;
  border-radius: var(--border-radius-small);
  min-height: 16em;
  max-height: 90vh;
}

a.button {
  margin: 0.75em auto;
  padding: 1em 2em;
  width: 100%;
  border: none;
  background: var(--color-primary-action);
  color: white;
  text-decoration: none;
  transition: background 0.15s ease-out;

  display: block;
  text-align: center;
}
a.button:focus,
a.button:hover {
  background: var(--color-primary-action-hover);
}

a.button,
textarea {
  border-radius: var(--border-radius-small);
}

p,
textarea {
  line-height: 1.5;
}

/* Video */
.intrinsic-container {
  position: relative;
  background: var(--color-sink);
}
/* 16x9 Aspect Ratio */
.intrinsic-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.intrinsic-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
